@import url(https://db.onlinewebfonts.com/c/fd1ad3a0f95210975d2f5607501020b5?family=Norse);

* {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
}

.title {
  text-align: center;
  font-size: 3rem;
  font-family: "Norse", sans-serif;
  padding: 1rem;
  text-decoration: underline;
  overflow: hidden;
}

.head-img {
  height: 20rem;
  width: auto;
  display: block;
  margin: 0 auto;
  border: 2px solid white;
  border-radius: 30px;
  object-fit: cover;
  object-position: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin: 2rem;
}

.btn {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  background: black;
  border: 2px solid white;
  border-radius: 10px;
  padding: 1rem 0;
  min-width: 14rem;
  text-align: center;
}

.btn:hover {
  background: white;
  color: black;
  transition: 0.3s all ease-in-out;
}

.home {
  background-color: #fff;
  padding: 0.8rem;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  margin: 2rem;
}

.home img {
  height: 30px;
  width: 30px;
  background: #fff;
}

.box {
  padding-bottom: 1rem;
  border-bottom: 5px solid #fff;
  max-width: 1200px;
  margin: 50px auto;
}

.heading-secondary {
  font-size: 2.2rem;
  font-weight: 700;
  text-align: center;
  margin: 1rem 0;
}

.ingredients {
  list-style-type: circle;
  max-width: 800px;
  margin: 0 auto;
  line-height: 2rem;
  display: grid;
  grid-template-areas: ". .";
}

.instructions {
  list-style-type: upper-roman;
  max-width: 1000px;
  margin: 0 auto;
  line-height: 2rem;
  display: grid;
  grid-template-areas: ". .";
  padding-left: 20px;
}

@media screen and (max-width: 900px) {
  .head-img {
    width: 70%;
  }
  .box {
    margin: 0 10%;
  }

  .ingredients,
  .instructions {
    grid-template-areas: ".";
    margin-left: 10%;
    padding-left: 0;
  }
}
